<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head>
	<title>My Military Move</title>
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<link href="application.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="wrap">
<div id="header">
<%= render :partial => "shared/navigation_bar" %>
</div>
<div class="colmask rightmenu">
	<div class="colleft">

		
<div class="col1">
	<div id = "form">
	<% form_for([@move,@itinerary,@trip]) do |f| %>
  		<%= f.error_messages :header_message => nil, :message => "Please fix the following field(s):" %>
			<%= render "shared/trip_fields", :f => f %>
			
			<div id="submit">
				<%= f.submit "Submit" %>
			</div>
			</div>
	<% end %>
</div>

<div class="col2">
	<!-- Column 2 start -->
	
	<!-- Column 2 end -->
</div>


</div>
</div>
<div id="footer">
	<p> Copyright Lauren Rothlisberger</p>

</div>
</div>
</body>
</html>
