Research for your move to _____________ <br />

You have 3 Neighborhoods saved. <br />

You have 12 Houses saved.<br />

You have 3 school possibilities saved for Kate.<br />

You have 5 preschools saved for Allie. <br />

Other Notes:<br />

<%= link_to 'New research', new_research_path %><br />

______________________________________________________
<p>
Sidebar:<br />

<%= link_to 'Neighborhoods', research_neighborhoods_path(@research)%><br />
<%= link_to 'Homes', research_homes_path(@research)%><br />
<%= link_to 'Schools', research_schools_path(@research)%><br />

</p>



