<p>
Hi <%= @user.name %>, welcome to MilitaryMoveIt!
</p>
<p>
Your registered with the email address: <%= @user.email %><br />
<br />
If you have any questions, problems or compliments email militarymoveit@gmail.com.
</p>
Happy Moving!
