<p>
Hi <%= @user.name %>, welcome to MilitaryMoveIt!
</p>
<p>
Your login name is: <%= @user.login %><br />
<br />
If you have any questions, problems or compliments email militarymoveit@gmail.com.
</p>
Happy Moving!
