<p>
Hi <%= @user.name %>, welcome to MilitaryMoveIt.com!
</p>
<p>
You registered with the email address: <%= @user.email %><br />
<br />
</p>
<p>
MilitaryMoveIt.com is a planner, it is a replacement for the steno pad and post-it notes. Get started by creating your move (in your account “Add A Move”) and then start your research.<br />

As you gather information on neighborhoods, homes and schools record it in the appropriate sections of MilitaryMoveIt.com. <br />

Don’t forget to put all your lists and notes in there as well.<br />
</p>
<p>
If you have questions, comments or compliments email us me at militarymoveit@gmail.com or visit our facebook page at http://www.facebook.com/?ref=logo#!/pages/MilitaryMoveIt/158840520808685
</p>
Happy Moving!
Lauren Rothlisberger
MilitaryMoveIt.com - Owner

