<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head>
	<title>My Military Move</title>
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<link href=' http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="wrap">
	<div id="header">
	  	<div id="logo">
		<%= link_to image_tag("icons/logo_small.png", :border=>0), root_url %>
		</div>
	</div>
    <div id="main">
	  
	    <div id="top">
		  <div id="title">
            <h2>MilitaryMoveIt offers a <span class="highlight">5 day trial period</span> and after that your membership is <span class="highlight">$20 for the year</span>. That is <span class="highlight">$1.66 a month</span>.</h2>
          </div>
	    </div>
	  <div id="sidebar">
		<h1>What do I get?</h1>
		<div id="subtitle">
		  <p>Organize your military move.</p>
		<p>- our biggest feature is our “things” section which allows you to manage your personal inventory of your high-dollar items. in the event you have to claim an item all your information will be documented and easily accessible online. this alone could saved you hundreds of dollars in denied claims. </p>
		<p>
		  <ul>
			<li>itinerary</li>
			<li>calendar</li>
			<li>lists & notes</li>
			<li>neighborhood research</li>
			<li>home research</li>
			<li>school research</li>
		  </ul>
		</p>
		</div>
		  <div id="security">
			<%= image_tag("icons/security.png", :border=>0) %>
		  </div>
	  </div>


	<div id="screenshot_footer">
		<%= link_to image_tag("icons/get_started_large.png", :border=>0), new_user_session_path %>
	</div>

    </div>
  
  </div>
</body>