body {
	margin:0;
	padding:0;
	border:0;			/* This removes the border around the viewport in old versions of IE */
	width:100%;
	background:#666;
	min-width:600px;    	/* Minimum width of layout - remove line if not required */
					/* The min-width property does not work in old versions of Internet Explorer */
	font-size:90%;
}

h1, h2, h3 {
	margin:.8em 0 .2em 0;
	padding:0;
}
h1 {
	margin:0px;
	margin-left:15px;
	margin-top:15px;
	font-family: 'Droid Sans', arial, serif;
	font-size:55px;
	color:#041128;
}
h2 {
	margin:0px;
	font-family: 'Droid Sans', arial, serif;
	font-size:35px;
	color:#041128;
}
p {
	margin:.4em 0 .8em 0;
	padding:0;
}
img {
	margin:10px 0 5px;
}
.error {
	margin-left:10px;
	font-family:"Arial";
	font-size: 15px;
	font-weight: normal;
	color: #AC0000;
}
.highlight {
	background-color:#FFEF92;
}
.left {

}
.right {
	
}
#facebook {
	float:right;
	margin-top:20px;
}
#header {
	background-color: #041128;
	clear:both;
	width:100%;
	height: 95px;
}
#header p,
#header h1,
#header h2 {

}
#logo {
	float:left;
	margin-left:30px;
}
#nav {

}
#nav ul {
    float:left;
	margin-left:405px;
	margin-top:-20px;
	margin-bottom:0px;
}
#nav ul li {
	display:inline;
	list-style:none;
	margin:0;
	padding:0;
	font-family:"Arial";
	font-size: 14px;
}
#nav ul li a {
	display:block;
	float:right;
	padding: 5px;
	color: white;
	text-decoration: none;
}
#nav ul li a:hover {
    color:#C3CFDD;
}
#nav ul li a.active,
#nav ul li a.active:hover {
	color:#fff;
	background:#000;
	font-weight:bold;
}
#nav ul li a span {
	display:block;
}
#login ul{
	margin-top:20px;
	margin-right:5px;
}
#login ul li {
	display:inline;
	list-style:none;
	margin:0;
	padding:0;
	font-family:"Arial";
	font-size: 14px;
}
#login ul li a {
	display:block;
	float:right;
	padding: 5px;
	color: white;
	text-decoration: none;
}
#login ul li a:hover {
	color:#C3CFDD;
}
#login ul li a.active,
#login ul li a.active:hover {
	color:#fff;
	background:#000;
	font-weight:bold;
}
#login ul li a span {
	display:block;
}
.colmask {
	position:relative;	/* This fixes the IE7 overflow hidden bug */
	clear:both;
	float:left;
	width:100%;			/* width of whole page */
	overflow:hidden;		/* This chops off any overhanging divs */
}
/* common column settings */
.colright,
.colmid,
.colleft {
	float:left;
	width:100%;
	position:relative;
}
.col1,
.col2,
.col3 {
	
	float:left;
	position:relative;
	padding:0 0 1em 0;
	overflow:hidden;
}
.wrap {
		width:960px;
		margin: 0 auto;
	}
#main {
  width: 100%;
  background:#fff;
  float:left;
  min-height:575px;
}
#top {
  margin-left:22px;
}
#sidebar {
  float:left;
  margin-left:20px;
  width:400px;
  position:relative;
}
#sidebar_two {
	float:left;
    width:500px;

}
.get_started {
	float:right;
}
#subtitle {
	margin-left:20px;
    font-family: 'Droid Sans', arial, serif;
	font-size:17px;
	color:#041128;		
}
#subtitle a {
	font-family: 'Droid Sans', arial, serif;
	font-size:18px;
	color:#AC0000;
	text-decoration:none;
	background:white;
}
#video {
	float:left;
	margin-top:25px;
}
#screenshots {
	clear:both;
	float:left;
	margin-top:25px;
	width:960px;
	background-color:#DCF2F7;
}
#screenshot_right {
	margin-right:50px;
	padding-top:15px;
	padding-bottom:15px;
	position:relative;
}
#screenshot_right img {
	float:right;
}
#screenshot_right_text {
	float:left;
	margin-left:20px;
	width:260px;
	font-family:Arial;
	font-size:16px;
}
#screenshot_right_text ul {
	
}
#screenshot_right_text ul li {
	font-family:Arial;
	font-size:16px;
	margin:5px;
}
#screenshot_left {
	margin-left:50px;
	padding-top:15px;
	padding-bottom:15px;
	position:relative;
}
#screenshot_left img {
	float:left;
}
#screenshot_left_text {
	float:left;
	width:275px;
	font-family:Arial;
	font-size:16px;
}
#screenshot_left_text ul {
	
}
#screenshot_left_text ul li {
	font-family:Arial;
	font-size:16px;
	margin:5px;
}
#screenshot_footer {
	clear:both;
	float:left;
	margin-left:237px;
	margin-bottom:15px;
}
#security {
	
	float:left;
	margin-left:20px;
}
#beta {
	margin-left:25px;
	margin-top:10px;
	width:870px;
	float:left;
	background:#FCB4B4;
	height:35px;
	border: 1px solid #AC0000;
}
#beta h2 {
	margin-top:5px;
	margin-left:100px;
	font-family: 'Droid Sans', arial, serif;
	font-size:22px;
	color:#AC0000;
}
#beta a {
	float:right;
	margin-right:20px;
	font-family: 'Droid Sans', arial, serif;
	font-size:17px;
	color:#AC0000;
	text-decoration:none;
	background:white;
}
/* Footer styles */
#footer {
	clear:both;
	float:left;
	width:100%;
}
#footer p {
	padding:10px;
	margin:0;
}