/* General styles */
	body {
		margin:0;
		padding:0;
		border:0;			/* This removes the border around the viewport in old versions of IE */
		width:100%;
		background:#666;
		min-width:600px;    	/* Minimum width of layout - remove line if not required */
						/* The min-width property does not work in old versions of Internet Explorer */
		font-size:90%;
	}


	p {
		margin:.4em 0 .8em 0;
		padding:0;
	}
	img {
		margin:10px 0 5px;
	}
	.error {
		margin-left:5px;
		font-family:"Arial";
		font-size: 16px;
		font-weight: normal;
		color: #AC0000;
	}
	.wrap {
		width:960px;
		margin: 0 auto;
		background:#fff;
	}

	.highlight {
		font-family: Arial, "MS Verdana", sans-serif;
		font-size: 12px;
		background-color: #FCF8C3;
		margin-top:3px;
		margin-bottom:3px;
	}
	.required {
		font-family: Arial, "MS Verdana", sans-serif;
		font-size: 12px;
		color: #AC0000;
	}
	.edit {
		font-family:"Arial";
		font-weight: bolder;
		font-size: 16px;
		color: #AC0000;
	}
	.edit a {
		text-decoration: none;
		font-family:"Arial";
		font-weight: bolder;
		font-size: 16px;
		color: #AC0000;
	}
	.edit a:hover {
		font-family:"Arial";
		font-weight: bolder;
		font-size: 16px;
		color: #AC0000;
	}
	#edit_profile {
		clear:both;
		float:right;
		margin-top:5px;
		margin-right:5px;
	}
	
	/* LOGIN LOGIN LOGIN */

	#login ul{
		margin-top:20px;
		margin-right:5px;
	}
	#login ul li {
		display:inline;
		list-style:none;
		margin:0;
		padding:0;
		font-family:"Arial";
		font-size: 14px;
	}
	#login ul li a {
		display:block;
		float:right;
		padding: 5px;
		color: white;
		text-decoration: none;
	}
	#login ul li a:hover {
		color:#C3CFDD;
	}
	#login ul li a.active,
	#login ul li a.active:hover {
		color:#fff;
		background:#000;
		font-weight:bold;
	}
	#login ul li a span {
		display:block;
	}
	#move_info {
		width:450px;
		clear:both;
		float:left;
		color:#000;
		position:relative;
		margin:0px;
	}
	#move_info a {
		color:#AC0000;
	}
	#move_info_icon {
		float:left;
		margin-top:5px;
	}
	
	/* FORMS FORMS FORMS */
	
	#form {
		font-family: Arial, "MS Verdana", sans-serif;
		font-size: 16px;
		color: black;
		padding:5px;
		margin-bottom:20px;
		background:#fff;
	}
	#form_heading {
		width:530px;
		margin:0px;
		padding:0px;
		font-family:"Arial";
		font-size: 22px;
		font-weight: normal;
		color:#333333;
		margin-bottom:0px;
	}
	#form input {
		border: 1px solid #999;
		font-family: Arial, "MS Verdana", sans-serif;
		font-size: 16px;
		color: #666;
		margin: 3px;	
	}
	#form select {
		border: 1px solid #999;
		font-family: Arial, "MS Verdana", sans-serif;
		font-size: 16px;
		color: #666;
		margin-top:3px;
		margin-bottom:3px;	
	}
	#form h1 {
		color: black;
		font-family: Arial, "MS Verdana", sans-serif;
		font-size: 25px;	
	}
	#form h2 {
		color: black;	
	}
	#form p {
		margin:10px;
	}
	#indent {
		float:left;
		margin-left:30px;
		position:relative;	
	}
	#submit {
		color: black;
		font-family: Arial, "MS Verdana", sans-serif;
		font-size: 16px;	
	}
	.city {
		float:left;
		margin-left:10px;
		margin-bottom:10px;
	}
	.state {
		float:left;
		margin-left:10px;
		margin-bottom:10px;
	}
	.zip {
		float:left;
		margin-left:10px;
		margin-bottom:10px;
	}
	.phone {
		clear:left;
		margin-left:10px;
	}
	.bedroom {
		float:left;
		margin-bottom:10px;
	}
	.bathroom {
		float:left;
		margin-left:10px;
		margin-bottom:10px;
	}

	/* Header styles */
	#header {
		background-color: #041128;
		clear:both;
		position:relative;
		width:100%;
		height: 95px;
	}
	#header p,
	#header h1,
	#header h2 {

	}
	#logo {
		float:left;
		margin-left:30px;
	}
	#nav {

	}
	#nav ul {
	    float:left;
		margin-left:405px;
		margin-top:-20px;
		margin-bottom:0px;
	}
	#nav ul li {
		display:inline;
		list-style:none;
		margin:0;
		padding:0;
	}
	#nav ul li a {
		display:block;
		float:right;
		padding: 5px;
		color: white;
		text-decoration: none;
	}
	#nav ul li a:hover {
		background:#369;
		color:#fff;
	}
	#nav ul li a.active,
	#nav ul li a.active:hover {
		color:#fff;
		background:#000;
		font-weight:bold;
	}
	#nav ul li a span {
		display:block;
	}

	/* research main info area */


	h1 {
		padding-left:5px;
		font-weight: normal;
		font-family:"Arial";
		font-size: 16px;
	}
	#add_button {
		float: right;
		margin-right: 20px;
		margin-top: -40px;

	}
#add_move {
	float:right;
	position:relative;
	margin-top:0px;
	margin-right:10px;
	
}
  #main {
	float:left;
	width: 100%;
	position:relative;
  	background:#fff;
	min-height: 700px;
  }
#border {
	width:900px;
    float:left;
	margin:15px;
	padding:5px;
	}
   #move_info {
   	  float:right;
   }
#sidebar {
	  clear:both;
	  margin:10px;
   	  float:left;
      width:460px;
	  position:relative;
   }
#sidebar_two {
	  float:left;
	  margin:10px;
      width:460px;
   }
#note {
	clear:both;
	float:left;
	width:900px;
  }
#button {
	clear:both;
  }
#account_status {
		width:350px;
		height:50px;
		margin-top:10px;
		margin-left:5px;
		margin-bottom:5px;
		float:left;
	}
#account_status img {
		margin:0px;
	}
#new_move {
		clear:both;
		width:350px;
		height:50px;
		margin-left:5px;
		margin-bottom:5px;
		float:left;
	}
#new_move img {
		margin:0px;
	}
#account_move {
		width:450px;
		height:100%;
		margin-top:10px;
		margin-left:10px;
		padding:5px;
		background-color: #FCF8C3;
		float:left;
		position:relative;
	}
#account_move p {
		font-family:"Arial";
		font-size: 22px;
	}
#account_move a {
		margin:0px;
		font-family:"Arial";
		font-size: 22px;
		color:#041128;
		text-decoration:none;
	}
#account_move img {
		float:right;
		margin:0px;
	}
#account_user {
		float:left;
		width:450px;
		background-color:#E6EBF4;
		margin-bottom:10px;
		padding:5px;
		position:relative;
		font-family:"Arial";		
	}
#account_user p {
		margin-left:10px;
		margin-bottom:10px;
		font-family:"Arial";
		font-size: 22px;
		padding:0px;
	}
#account_user h1 {
		font-family:"Arial";
		font-size: 22px;
		font-weight: normal;
		background-color: #a7b5cf;
		color:#333333;
		margin-top:0px;

	}
.edit_user {
		font-family:"Arial";
		font-size: 12px;
		font-weight: normal;
		color: #AC0000;
		margin-left: 100px;
		padding-top:6px;
	}
.edit_user a {
		text-decoration: none;
		font-family:"Arial";
		font-size: 12px;
		font-weight: normal;
		color: #AC0000;
	}
.edit_user a:hover {
		font-family:"Arial";
		font-weight: bolder;
		font-size: 12px;
		color: #AC0000;
	}
#account_family {
		float:left;
		background-color:#C8D3E6;
		width:565px;
		margin-bottom:10px;
		padding:5px;
		position:relative;
		font-family:"Arial";
		font-size: 22px;
		color:#333333;
	}
#account_family img {
		position: absolute;
		top:0px;
		right:0px;
	
	}
#account_family_form {
		background-color:#fff;
		width:565px;
		margin-bottom:10px;
		padding:5px;
		position:relative;
		font-family:"Arial";
		font-size: 22px;
		color:#333333;
	}
.edit_family {
		font-family:"Arial";
		font-size: 12px;
		font-weight: normal;
		color: #AC0000;
		padding: 3px;
		position: absolute;
		bottom:0px;
		right:0px;
	}
.edit_family a {
		text-decoration: none;
		font-family:"Arial";
		font-size: 12px;
		font-weight: normal;
		color: #AC0000;
	}
.edit_family a:hover {
		font-family:"Arial";
		font-weight: bolder;
		font-size: 12px;
		color: #AC0000;
	}
	/* -- */

	/* Footer styles */
#footer {
		clear:both;
		float:left;
		width:100%;
	}
#footer p {
		padding:10px;
		margin:0;
	}
	/* --> */