Advertising:
<p>
<a href="http://gan.doubleclick.net/gan_click?lid=41000000014445572&pubid=21000000000241342"><img src="http://gan.doubleclick.net/gan_impression?lid=41000000014445572&pubid=21000000000241342" border=0 alt="The Container Store - Brand Logo (125x125)"></a>
</p>
<p>
<a href="http://gan.doubleclick.net/gan_click?lid=41000000024029690&pubid=21000000000241342"><img src="http://gan.doubleclick.net/gan_impression?lid=41000000024029690&pubid=21000000000241342" border=0 alt="Sittercity"></a>	
</p>
<p>
<a href="http://gan.doubleclick.net/gan_click?lid=41000000030722951&pubid=21000000000241342"><img src="http://gan.doubleclick.net/gan_impression?lid=41000000030722951&pubid=21000000000241342" border=0 alt="zulily: Daily deals for moms, babies and kids"></a>	
</p>
<p>
<a href="http://gan.doubleclick.net/gan_click?lid=41000000031153897&pubid=21000000000241342"><img src="http://gan.doubleclick.net/gan_impression?lid=41000000031153897&pubid=21000000000241342" border=0 alt="Shop Cabelas.com!"></a>	
</p>
<p>
<%= link_to image_tag("company_logos/sarges_list_125x125.jpg", :border=>0), 'http://www.sargeslist.com' %>
</p>