<p>
  <b>Move:</b>
  <%=h @start.move_id %>
</p>

<p>
  <b>Installation:</b>
  <%=h @start.installation_id %>
</p>


<%= link_to 'Edit', edit_start_path(@start) %> |
<%= link_to 'Back', starts_path %>