<%= javascript_include_tag :defaults %>



<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head>
	<title>My Military Move</title>
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<link href=' http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="wrap">
	<div id="header">
	  	<div id="logo">
		<%= link_to image_tag("icons/logo_small.png", :border=>0), root_url %>
		</div>
	</div>
    <div id="main">
<%= flashobject_tag "/videos/my_things.swf", :size => "960x650", :background_color => "#000000" %>
    </div>
  
  </div>
</body>