Hi <%= @question.name %><br /> 

Your question:<br />
<%= @question.question %><br />
<br />
Has been sent to a MilitaryMoveIt specialist. You will hear back from them within about 48 hours.

</p>
Happy Moving!<br />
Lauren Rothlisberger<br />
MilitaryMoveIt.com - Owner<br />