<p>
Hi 
</p>
<p>
<%= @question.name %> has a question. You can respond to the at <%= @question.from %>. Please remember to get back to them within 48 hours. They are anxiously awaiting your information. 
<br />
</p>
<p>
Question:<br />
<%= @question.question %>

</p>
Happy Moving!
Lauren Rothlisberger
MilitaryMoveIt.com - Owner
