Hi<br /> 
<p>
<%= @question.name %> has a question. You can respond  at <%= @question.from %>. <br />

Please remember to get back to them within 48 hours. They are anxiously awaiting your information. 
<br />

<p>
Question:<br />
<%= @question.question %>

</p>
Happy Moving!<br />
Lauren Rothlisberger<br />
MilitaryMoveIt.com - Owner<br />
